<tr>
	<td>
		<%= post.id %>
	</td>
	<td>
		<%= post.date %>
	</td>
	<td>
       <%= post.user.full_name %>
	</td>
	<td>
		<%= truncate(post.rationale) %>
	</td>
</tr>

<td>
	<%= link_to 'Delete', post_path(post), method: :delete, id: "delete_post_#{post.id}_from_index", data: { confirm: 'Are you sure?' } %>
</td>